---
import { languages } from '../i18n/ui';
---
<ul>
<!--  {Object.entries(languages).map(([lang, label]) => ( -->
      <a href={`/en/`}>
        <img
					alt="Change language"
					width="25"
					height="25"
					src="/assets/icon/en.png"
        />
      </a>
      <a href={`/es/`}>
        <img
					alt="Change language"
					width="25"
					height="25"
					src="/assets/icon/es.png"
        />
      </a>
<!--   ))}   -->
</ul>