<section class="section with-background bg-variant">
    <header class="section-header stack gap-2 lg:gap-4">
        <h3>Technologies</h3>
        <p>
            I like playing around and learning new programming languages,
            frameworks and libraries.
        </p>
    </header>
    <div class="gallery">
        <img
            width="46"
            height="46"
            alt="JAVA"
            src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/java/java-original.svg"
        />
        <img
            width="46"
            height="46"
            alt="Python"
            src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/python/python-original.svg"
        />
        <img
            width="46"
            height="46"
            alt="Anaconda"
            src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/anaconda/anaconda-original.svg"
        />
        <img
            width="46"
            height="46"
            alt="TypeScript"
            src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/typescript/typescript-plain.svg"
        />
        <img
            width="46"
            height="46"
            alt="Angular"
            src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/angularjs/angularjs-plain.svg"
        />
        <img
            width="46"
            height="46"
            alt="React"
            src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/react/react-original.svg"
        />
        <img
            width="46"
            height="46"
            alt="Bootstrap"
            src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/bootstrap/bootstrap-plain.svg"
        />
        <img
            width="46"
            height="46"
            alt="CSS"
            src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-plain.svg"
        />
        <img
            width="46"
            height="46"
            alt="HTML"
            src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-plain.svg"
        />
        <img
            width="46"
            height="46"
            alt="JavaScript"
            src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-plain.svg"
        />
        <img
            width="46"
            height="46"
            alt="PostGres"
            src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/postgresql/postgresql-plain.svg"
        />
        <img
            width="46"
            height="46"
            alt="MongoDB"
            src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/mongodb/mongodb-original.svg"
        />
        <img
            width="46"
            height="46"
            alt="MySql"
            src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/mysql/mysql-original.svg"
        />
        <img
            width="46"
            height="46"
            alt="Moodle"
            src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/moodle/moodle-original.svg"
        />
        <img
            width="46"
            height="46"
            alt="Ansible"
            src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/ansible/ansible-plain.svg"
        />
        <img
            width="46"
            height="46"
            alt="Vagrant"
            src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/vagrant/vagrant-original.svg"
        />
        <img
            width="46"
            height="46"
            alt="Apache"
            src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/apache/apache-original.svg"
        />
        <img
            width="46"
            height="46"
            alt="Azure"
            src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/azure/azure-original.svg"
        />
        <img
            width="46"
            height="46"
            alt="Bash"
            src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/bash/bash-plain.svg"
        />
        <img
            width="46"
            height="46"
            alt="DJango"
            src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/django/django-plain.svg"
        />
        <img
            width="46"
            height="46"
            alt="Docker"
            src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/docker/docker-original.svg"
        />
        <img
            width="46"
            height="46"
            alt="Drupal"
            src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/drupal/drupal-original.svg"
        />
        <img
            width="46"
            height="46"
            alt="NodeJS"
            src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nodejs/nodejs-original.svg"
        />
        <img
            width="46"
            height="46"
            alt="Gradle"
            src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/gradle/gradle-plain.svg"
        />
        <img
            width="46"
            height="46"
            alt="Jenkins"
            src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/jenkins/jenkins-original.svg"
        />
    </div>
</section>
  src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/gradle/gradle-plain.svg"
        />
        <img
            width="46"
            height="46"
            alt="Jenkins"
            src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/jenkins/jenkins-original.svg"
        />
    </div>